*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    background-image: linear-gradient(to right top, #3caaf3, #0095f8, #007dfa, #0063f6, #1242eb);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
}
p{
    margin-bottom: 2rem;
}
.container{
    background-color: #fff;
    width: 430px;
    height: 282px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-family: 'Tilt Neon', cursive;
    font-size: 1.3rem;
}
input{
    border-radius: 25px;
    outline: none;
    background-color: #808080a6;
    padding: 11px;
    color: #000;
    border: none;
    margin-left: 1.2rem;
   
    font-size: 1.1rem;
}
::placeholder{
    color: #000;
}
button{
    background-color:#0063f6;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    width: 122px;
    border: none;
    box-shadow: 0 0 8px #1e88e5;
    font-family:'Tilt Neon', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: #1242eb;
}

